# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env

# Data & models
data/raw/
data/processed/
models/
trade_journal/*.xlsx
trade_journal/template/*.xlsx

# Jupyter
.ipynb_checkpoints/

# VSCode / OS
.vscode/
.DS_Store
